<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dalSettings" type="DALGenLib.Configuration.DALSettingsSection, DALGenLib"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
  </appSettings>
  
  <connectionStrings>
    <add name="StoreDB" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=StoreManagementDB;Integrated Security=SSPI;"/>
  </connectionStrings>

  
  <dalSettings ModelNameSpace="StoreLib" RepositoryNameSpace="StoreLib.Repository" ServiceNameSpace="StoreLib.Service" BaseTemplateFolder="C:\projects\VS2013\ServiceLayerGenerator\Templates" ServiceTemplateFolder="Services" RepositoryTemplateFolder="Repository" ServiceExtensionTemplateFolder="extensions" ContextName="YourContext" BaseOutputFolder="C:\projects\VS2013\ServiceLayerGenerator\Output" AddServiceExtensions="true" ServiceTemplateInterfaceFile="ITemplateService" ServiceTemplateClassFile="TemplateService" RepositoryTemplateInterfaceFile="IRepository" RepositoryTemplateClassFile="TemplateRepository" PluralizeCollections="false" CreateOutputFolders="true" ConnectionString="APP;StoreDB">

  </dalSettings>

  <log4net>
    <root>
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\\development\\LOGS\\DALGenConsoleApp.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Debug"/>
        <levelMax value="Warn"/>
      </filter>
    </appender>
    <appender name="RollingErrorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="c:\\development\\LOGS\\DALGenConsoleApp.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="100KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="Error"/>
        <levelMax value="Fatal"/>
      </filter>
    </appender>
  </log4net>
    
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
