<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dalSettings" type="NokelServices.DALGenLib.Configuration.DALSettingsSection, DALGenLib"/>
  </configSections>
  <appSettings>
    
  </appSettings>
  
  <dalSettings ModelNameSpace="com.someothernamespace.test" RepositoryNameSpace="com.someOtherRepo.test" ServiceNameSpace="com.someOtherService.test" BaseTemplateFolder="c:\projects\test\DAL\templates" ServiceTemplateFolder="Services" RepositoryTemplateFolder="Repository" ServiceExtensionTemplateFolder="svcExtensions" BaseOutputFolder="C:\templates\test\DAL\output" AddServiceExtensions="false" ServiceTemplateInterfaceFile="ITemplateServiceTest" ServiceTemplateClassFile="TemplateServiceTest" RepositoryTemplateInterfaceFile="IRepositoryTest" RepositoryTemplateClassFile="TemplateRepositoryTest">
    
  </dalSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
